<header>
  <h1>Instances of <%= @fault.title %> (Fault #<%= @fault.id %>)</h1>
  <p id="notice"><%= notice %><p>
</header>

<table>
  <tbody>
    <% @fault.instances.each do |instance| %>
      <tr>
        <td>#<%= instance.id %></td>
        <td><%= link_to instance.url, fault_instance_path(@fault, instance) %></td>
        <td class="w-15"><%= instance.user_agent_display %></td>
        <td class="w-15"><%= time_ago_in_words(instance.created_at).capitalize %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
